body {
    background: #444;
    color: #fff;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    margin: 0;
    overflow: hidden;
}

#test {
    margin: 0;
    position: absolute;
    top: 0;
}

.main-container {
    display: inline-block;
}
.settings {
    height: 100vh;
    overflow-x: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100vw - 155vh);
}
input[name=settings-toggle] {
    display: none;
}
.toggle-box { margin: 0; }
.toggle-box > label{
    border-bottom: solid 3px #888;
    box-sizing: border-box;
    display:inline-block;
    line-height: 2;
    text-align: center;
    width: 50%;
}
.toggle-box > label:first-of-type { border: none; }
.toggle-box > input:checked ~ label { border: none; }
.toggle-box > input:checked + label { border-bottom: solid 3px #888; }
.settings-box {
    transition: margin 0.5s;
    width: 200%;
}
input[name=settings-toggle]:checked + .settings-box {
    margin-left: -100%;
}
.settings-box > form {
    box-sizing: border-box;
    display:inline-block;
    height: 100%;
    vertical-align: top;
    width: 50%;
}
label {
    display: block;
}
input[type=range] {
    display: inline-block;
    width: calc(100% - 8em);
}
input[type=number] {
    background: none;
    border: none;
    border-bottom: solid 3px #888;
    color: #fff;
    font-size: 20px;
    display: inline-block;
    text-align: right;
    width: 3em;
}
.inline label {
    display: inline-block;
    margin-right: 1em;
}
.inline input {
    display: inline-block;
}